<i class="fa-solid fa-volume-xmark fa-2x" *ngIf="audio.paused" (click)="toggleMusic()"></i>
<i class="fa-solid fa-volume-high fa-2x" *ngIf="!audio.paused" (click)="toggleMusic()"></i>
<div class="content">
    <div class="centered-div" *ngIf="content == 0">
        <h1>Chuẩn bị đi chơi noel hoyyyyy!!!</h1>
        <h3>Đầu tiên là bật nhạc lên cho có không khí noel nèeee (góc trái trên màn hình)</h3>
        <div class="navigate-div">
            <div class="gif-container-cat-santa">
                <iframe src="assets/gif/cat-santa.gif" frameBorder="0" allowFullScreen class="gif-iframe"></iframe><p>
            </div>
            <button class="red-button" (click)="openContent(1)">Bắt đầu chuẩn bị nào!!!!</button>
        </div>
    </div>
    <div class="centered-div" *ngIf="content == 1">
        <h1>Đầu tiên là chọn món ăn nè</h1>
        <div class="navigate-div">
            <div class="content">
                <div class="checkbox-item" *ngFor="let item of foodList">
                    <img [src]="item.image" alt="{{ item.label }}" />
                    <label [for]="item.label">
                      {{ item.label }}
                    </label>
                    <input type="radio" [id]="item.label" [value]="item.value" [(ngModel)]="userChoose.food"/>
                </div>
            </div>
            <div class="container">
                <textarea placeholder="Nếu bạn có quán nào muốn đi thì ghi ở đây nhó. Còn không thì bạn chỉ cần chọn món hoy còn quán thì mình sẽ chọn." class="notes-textarea" [(ngModel)]="userChoose.foodDetail"></textarea>
            </div>
            <button class="red-button" (click)="openContent(2)">Tiếp tục nào!!!!</button>
            <button class="white-button" (click)="openContent(0)">Quay lại.</button>
        </div>
    </div>
    <div class="centered-div" *ngIf="content == 2">
        <h1>Tiếp theo đó là chọn chỗ đi quẩyyyy</h1>
        <div class="navigate-div">
            <div class="content">
                <div class="checkbox-item" *ngFor="let item of hangOutList">
                    <img [src]="item.image" alt="{{ item.label }}" />
                    <label [for]="item.label">
                      {{ item.label }}
                    </label>
                    <input type="radio" [id]="item.label" [value]="item.value" [(ngModel)]="userChoose.hangOut"/>
                </div>
            </div>
            <div class="container">
                <textarea placeholder="Nếu bạn chọn cà phê hoặc xem phim thì ghi chi tiết quán cà phê hoặc là phim bạn muốn xem ở đây nhó. Khum ghi thì mình sẽ tự chọn" class="notes-textarea" [(ngModel)]="userChoose.hangOutDetail"></textarea>
            </div>
            <button class="red-button" (click)="openContent(3)">Tiếp hoyyy!</button>
            <button class="white-button" (click)="openContent(1)">Quay lại.</button>
        </div>
    </div>
    <div class="centered-div" *ngIf="content == 3">
        <h1>Cuối cùng là ngoài những chỗ trên thì bạn còn muốn đi đâu hơmmmm?</h1>
        <div class="navigate-div">
            <div class="container">
                <textarea placeholder="" class="notes-textarea" [(ngModel)]="userChoose.other"></textarea>
            </div>
            <button class="red-button" (click)="sendMail()">Kết thúc gòi.</button>
            <button class="white-button" (click)="openContent(2)">Quay lại.</button>
        </div>
    </div>
    <div class="centered-div" *ngIf="content == 4">
        <h1>Đợi đến ngày noel để quẩy hoyyyyyy</h1>
        <div class="navigate-div">
            <div class="gif-container-cat-love">
                <iframe src="assets/gif/cat-love.gif" frameBorder="0" allowFullScreen class="gif-iframe"></iframe><p>
            </div>
        </div>
    </div>
</div>
  